.auth-form {
  display: block;
  width: 70%;
  margin: $gutter-sm auto;

  h2 {
    margin-left: 7.7vw;
  }

  input {
    width: 65%;
    margin: $gutter-sm auto;
  }

  button {
    float: right;
    display: block;
    margin-right: 7.75vw;
  }
}