header {
  padding: 0 $gutter-sm;
  background: $primary-color;

  h1 {
    display: inline-block;
    color: $fourth-color;
    font-size: $font-large/1.5;
    padding: $gutter-sm $gutter-sm/3;
  }

  nav {
    float: right;
    padding-top: $gutter-sm/3;
  }
  
  img {
    height: 4vw;
    border-radius: 50%;
  }

  ul {
    display: inline-block;
  }

  li {
    padding: $gutter-sm;
    display: inline-block;
  }
}