.photo-dashboard {
  width: 80vw;
  margin: 0 auto;
  
  h2 {
    margin: $gutter-sm 23vw $gutter-sm 7.7vw;
    text-align: left;
    font-size: $font-large/1.75;
  }  

  div {
    margin: 0 auto;
  }
}