.profile-form-edit, .profile-form {
  display: block;
  margin: $gutter-sm auto;

  h2 {
    margin: 0 23vw 0 7.7vw;
    display: block;
    font-size: $font-large/1.75;
  }

  div {
    display: block;
  }

  img {
    margin: 2vw auto;
    height: 25vw;
    border-radius: 50%;
  }

  input {
    width: 50vw;
    padding: $input-padding;
    margin: 0 auto 2vw auto;
  }

  textarea {
    padding: $input-padding;
    display: block;
    margin: 0 auto $gutter-sm/2 auto;
    border-radius: $border-radius;
    border: $input-border;
    width: 50vw;
    height: 5vw;
  }

  button {
    float: right;
    display: block;
    margin-right: 13vw;
  }

}